.mini_music_player {
	color: white;
	font-size: 14px;
	float: left;
}

#date_and_time{
	color: white;
	font-size: 14px;
	float: right;
}
hr{
	margin-top: 0px;
	font: 10px;
}
.header{
	float: none;
	height: 60px;
	font-family: Arial;
	color: lightyellow;
	font-size: 40px;
	margin-top: 0px;
	margin-right: 30px;
	margin-bottom: 5px;
	margin-left: 30px;
}

.navibar {
	text-decoration: none;
	float: left;
	width: 160px;
	border-collapse: collapse;
	position:absolute;
}
.navibar a{
	color: red;
	text-decoration: none;
}
.navibar li {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background: rgb(255, 255, 199);
	height: 50px;
	 width: 100px;
	 line-height: 50px;
	font-size: 16px;
	text-align: center;
	margin:5px;
	list-style: none;
	vertical-align: middle;
	
}

.navibar li:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background: yellow;
	text-decoration: none;
	height: 50px;
	 width: 100px;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	margin:5px;
	list-style: none;
	vertical-align: middle;
	
}

.footer{
	margin-top: 10px;
	position: relative;
	bottom: 0px;
	text-align: center;
	background-color: rgba(255, 255, 255,0.5);
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	line-height: 30px;
	border: 0px outset rgba(120, 120, 120,0.5);
	font-size: 18px;
   
   
}
