.mini_music_player {
	color: white;
	font-size: 14px;
	float: left;
}

#date_and_time{
	color: white;
	font-size: 14px;
	float: right;
}
hr{
	margin-top: 0px;
	font: 10px;
}
.header{
	float: none;
	height: 100px;
	font-family: Arial;
	color: lightyellow;
	font-size: 40px;
	margin-top: 0px;
	margin-right: 30px;
	margin-bottom: 5px;
	margin-left: 30px;
	vertical-align: middle;
}

.navibar {
	text-decoration: none;
	float: left;
	width: 170px;
	height:800px;
	border-collapse: collapse;
	position:absolute;
	margin-right: 20px;
}

.navibar ul{
	border:0px solid yellow;
	list-style-type: none;
	
}
.navibar li {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-image: url("../img/button.png") ;
	background-size: 180px 70px;
	height: 70px;
	width:180px;
	font-size: 16px;
	text-align: center;
	list-style: none;
	
	color: red;
	text-decoration: none;
	line-height: 70px;
	vertical-align: middle;
	margin-bottom: 15px;
}
.navibar img{
	width: 60px;
	height: 60px;
	margin-top:-10px;
}
.navibar li:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-image: url("../img/button.png") ;
	background-size: 200px 80px;
	height: 80px;
	width:200px;
	font-size: 18px;
	text-align: center;
	list-style: none;
	
	
	color: red;
	text-decoration: none;
	line-height: 70px;
	vertical-align: middle;
	margin-bottom: 15px;
}
.navibar li:hover .img{
	width: 750px;
	height: 705px;
	margin-top:-10px;
}
.footer{
	margin-top: 10px;
	position: relative;
	bottom: 0px;
	text-align: center;
	background-color: rgba(255, 255, 255,0.5);
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	line-height: 30px;
	border: 0px outset rgba(120, 120, 120,0.5);
	font-size: 18px;
   
   
}
