html,body{
	background-image: url(../img/others_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
.content{
<<<<<<< HEAD

	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 170px;
	position: relative;
}
=======
	color: #CCC;
	font-size: 12;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 170px;
	position: relative;
	background-color: rgba(0,0,0,0.5);
	margin-right: 40px;
}
.content p{
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 14pt;
}

.content script {
	color: #C0C0C0;
}
.game {
	height: 300px;
	width: 100px;
	margin-left: 400px;
	position: absolute;
	left: 4px;
	top: 85px;
	border: thick double rgba(204,204,204,1);
}
>>>>>>> parent of 90069d1... update
